/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
	display: block;
}

a img {
	border: 0;
}

.amazon-logo {
	background: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/SignupCommonSprite.png") no-repeat 0 0;
	width: 168px;
	height: 31px;
	display: block;
	background-position: -33px -416px;
	margin: 10px 0 10px 0;
}

/*	Typography presets
	------------------	*/
body {
	font: 16px/24px helvetica, "Arial Black", Gadget, sans-serif, serif;
	-webkit-text-size-adjust: 100%;
}

h1 {
	letter-spacing: -1px;
	color:#ffb933;
	font-weight:100;
}

h2 {
	font-size: 42px;
	line-height: 46px;
	color:#ffb933;
	font-weight:100;
}

h3 {
	font-size: 26px;
	line-height: 30px;
}
h3.prime-message-thankyou {
	font-size: 18px;
}

h4 {
	font-size: 22px;
	line-height: 26px;
}

.hr {
	background-color: #FFFFFF;
	border-top: 1px solid #ddd;
	height: 1px;
	margin: 10px 0;
}

p {
	font-size: 14px;
	line-height: 19px;
}
.small-paragraph{
	font-size: 13px;
	line-height: 18px;
}

a {
	color:#004b91;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}



a.copyright-link {
	text-decoration: none;
	color:#004b91;
}

body,
html {
  background-color: #FFF;
}


/* layout content container to be centered */
.prime-page-container {
	text-align: left;
	margin: 0px auto -1px auto;
}

/* Prime Important Messaging Defaults */
.prime-important-message-container {
	padding: 0px 0px;
	background-color: #FFFFFF;
}

.prime-important-message {
	margin:10px 0;
	padding:10px;
	color:black;
	font-size:13px;
	border:1px #0071B5 solid;
	background:#ffffcc;
}

.prime-important-message span {
	background:url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/SignupCommonSprite.png") no-repeat 0 0;
	float:left;
	width:25px;
	height:25px;
	display:block;
}

.prime-important-message h6 {
	font-size: 42px;
	line-height: 48px;
	margin:0 0 .25em 35px;
	padding:0;
	font-weight:bold;
}

.prime-important-message p {
	margin:0 0 .25em 35px;
	padding:0;
}

/* mixture of padding + margin here to get FF and IE to positon UL consistently */
.prime-important-message ul {
	padding-left:0;
	margin-left:10px;
	margin-top:5px;
}

.prime-important-message li {
	margin-left:35px;
	list-style-type:disc;
}

.prime-important-message a {
	color: #004B91;
}

.prime-success {
	color:#006633;
	border:1px solid #447F00;
}

.prime-success h6 {
	color:#006633;
}

.prime-success span {
	background-position: 0 -25px;
}

.prime-success span.mini {
	background-position: 0px -17px !important;
}

.prime-warning {
	border:1px solid #E47911;
}

.prime-warning h6 {
}

.prime-warning span {
	background-position: 0 -50px;
}

.prime-warning span.mini {
	background-position: 0px -34px !important;
}

.prime-error {
	color:#A31919;
	border:1px solid #A31919;
}

.prime-error h6 {
}

.prime-error span {
	background-position: 0 -75px
}

.prime-error span.mini {
	background-position: 0px -51px !important;
}

.prime-error:focus {
	outline-style: none;
	-moz-outline-style:none;
}

/* prime content blocks */
.prime-footer {
	text-align: center;
	color: #E47911;
	font-family: arial;
	text-align: center;
	vertical-align: top;
	font-size: 10pt;
	line-height: 1.5em;
	margin: 10px 0;
}

span.copyright {
	color: #999999;
	font-size: 90%;
}

.indented {
	padding-left: 25pt;
	padding-right: 25pt;
}

.prime-benefit h2 {
	padding:27px 0 6px 0;
}

.prime-benefit:first-child h2 {
	padding-top: 5px;
}

.prime-benefit p {
}

.prime-button-centered {
	margin:0 auto;
	margin-top: 15px;
	right: 25px;
	left: 0px;
	width: 95%;
	text-align:center;
	position: relative;
	height: 60px;
}

.prime-mobile-pipeline-sprite {
	border: 0 none;
	vertical-align: baseline;
	list-style-type: none;
	background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/SignupCommonSprite.png");
}

.prime-action-button {
	background-position: -35px 0px !important;
	color: black;
	cursor: pointer;
	display: block;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFE093;
	width:215px;
}

.prime-greeting{padding-bottom:0;}
.prime-button-signup {
	float: right;
	position: relative;
	align: left;
}
.prime-button-thankyou {
	margin:0 auto;
	width:215px;
	padding-top:10px;
}

.prime-button-no-thanks {
	float: left;
	position: relative;
}

.prime-cancel-button {
	background-position: -35px -90px;
	color: black;
	cursor: pointer;
	display: block;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #eee;
	width:215px;
}

.prime-legal {
	font-size:11px;
	line-height:16px;
}

.clear {
	clear:both;
}

/* form css */
	.hideme {
	display:none;
}

label {
	font-size:12px;
}

.rightalignindent {
	width:100px;
	display:block;
	text-align:right;
	float:left;
	padding-right:10px;
}

.cc {
	width:100px;
}

.month {
	width:50px;
	padding-right: 5px;
}

.year {
	width:50px;
}

.ccnumberinput {
	font-size:12px;
}

.nameinput {
	font-size:12px;
}

.existingaddress {
	padding-left:10px;
	width:240px;
}

.fullfield {
	width:130px;
}

div.prime-extra-info {
	margin-top: 20px;
}

/*		Tablet Wide Layout    */
@media only screen and (min-width: 960px) {
.prime-page-container {
	width: 904px;
	padding: 5px 28px 0px;
}

#fullfooter{	width: 904px;}
#smallwidth{width: 276px; margin: 0 auto;}
h1.prime-message-title {
	font-size: 44px;
	line-height: 48px;
	padding-bottom: 10px;
}
h1.prime-message-title-signin {
	font-size: 52px;
	line-height: 50px;
	padding-bottom: 10px;
}
h1.prime-message-title-thankyou {
	font-size: 52px;
	line-height: 50px;
	padding-bottom: 10px;
}h3.prime-message-thankyou {
	font-size:18px;
	line-height:22px;
}

.prime-benefit h2 {
	font-size: 20px;
	line-height: 14px;
	padding: 1px 0 6px 0;
}

.prime-benefit:first-child h2 {
	padding: 1px 0 6px;
}

.prime-important-message h6 {
	font-size:13px;
	line-height:17px;
}

.prime-benefit p {
}

.prime-extra-info h3 {
	font-size: 18px;
	line-height: 30px;
}

.prime-benefit {
	width:281px;
	float:left;
	display:block;
}

.first {
	padding-right:30px;
}

.last {
	padding-left:30px;
}

.prime-button-no-thanks {
	margin-left:5%;
}

.prime-button-signup {
	margin-right:5%;
}
.prime-button-thankyou {
	width:215px;
}

.prime-action-button {
	background-position: -35px 0px !important;
	width:215px;
	height: 28px;
}

.prime-cancel-button {
	background-position: -35px -90px !important;
	width:215px;
	height: 28px;
}

.prime-trio-small {
	background: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/PrimeBenefitsSignupSprite_RBN.jpg") no-repeat 0 0;
	width: 904px;
	height: 240px;
	display: block;
	background-position: -10px -374px;
	margin-bottom: 1em;
}

// Prime Payment Form Styles 

  .primePaymentForm {
    width: 950px;
    position: relative;
  }

  .primePaymentFormSection {
    width: 450px;
    float: left;
  }

  .primePaymentFormSectionHeader {
    font-size: 18px;
    float: left;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .primePaymentFormSectionHeader2 {
    font-size: 16px;
  }

  .primePaymentFormSectionHeader3 {
    font-size: 18px;
  }

  .primeCreditCardFormInputLabel {
    font-size: 13px;
    float: left;
    width: 140px;
  }

  .primePaymentFormSection2Label {
    font-size: 18px;
  }

  div.primePaymentFormInput {
    padding-left: 25px;
  }

  select.primePaymentFormInput {
    padding-left: 0px;
  }

  input.primePaymentForm {
    float: left;
  }

  .primePaymentFormSection2 {

  }

  .primePaymentFormSection2Radio {
    float: left;
  }

  .primeBillingForm {
  }

  .primePaymentFormInputContainer {
    padding-left: 22px;
    position: relative;
    height: 35px;
    width: 420px;
  }

  .primePaymentFormTextInput {
    float: left;
    width: 220px;
  }

  .primePaymentFormShortTextInput {
    float: left;
    width: 200px;
  }

  .primePaymentFormInputContainer .primePaymentFormInputSelect {
    float: left;
  }

  .enterAddressFormField {
    width: 200px;
  }

  .primePaymentFormCountrySelect select option {
    float: right;
    text-align: left;
    width: 175px;
  }

  div.primePaymentFormCountrySelect {
  }

  .primeFormTextInputError {
     background-color: #FFE4B5;
  }

  .primeClearBoth {
    clear: both;
    height: 1px;
  }

}

/*		Tablet Layout    */
@media only screen and (min-width: 610px) and (max-width: 959px) {
.prime-page-container {
	width: 544px;
	padding: 5px 28px 0px;
}

#fullfooter{width: 544px;}
#smallwidth{width: 276px; margin: 0 auto;}
h1.prime-message-title {
	font-size: 40px;
	line-height: 42px;
	padding-bottom: 10px;
}
h1.prime-message-title-signin {
	font-size: 52px;
	line-height: 50px;
	padding-bottom: 10px;
}
h1.prime-message-title-thankyou {
	font-size: 44px;
	line-height: 48px;
	margin-bottom: 10px;
}
h3.prime-message-thankyou {
	font-size:18px;
	line-height:22px;
}

.prime-benefit h2 {
	font-size: 22px;
	line-height: 18px;
	padding: 5px 0 6px 0;
}

.prime-benefit:first-child h2 {
	padding-top: 5px;
}

.prime-important-message h6 {
	font-size:13px;
	line-height:17px;
}

.prime-benefit p {
}

.prime-extra-info h3 {
	font-size: 18px;
	line-height: 30px;
}

.prime-action-button {
	background-position: -35px 0px !important;
	width:215px;
	height: 28px;
}

.prime-cancel-button {
	background-position: -35px -90px !important;
	width:215px;
	height: 28px;
}

.prime-trio-small {
	background: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/PrimeBenefitsSignupSprite_RBN.jpg") no-repeat 0 0;
	width: 544px;
	overflow:hidden;
	height: 153px;
	display: block;
	background-position: -10px -216px;
	margin-bottom: 1em;
}

.prime-benefit {
	width:170px;
	float:left;
	display:block;
}

.first {
	padding-right:15px;
}

.last {
	padding-left:15px;
}

// Prime Payment Form Styles 

  .primePaymentForm {
    width: 590px;
    position: relative;
  }

  .primePaymentFormSection {
    width: 280px;
    float: none;
  }

  .primePaymentFormSectionHeader {
    font-size: 18px;
    float: left;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .primePaymentFormSectionHeader2 {
    font-size: 16px;
  }

  .primePaymentFormSectionHeader3 {
    font-size: 18px;
  }

  .primeCreditCardFormInputLabel {
    font-size: 13px;
    float: left;
    width: 140px;
  }

  .primePaymentFormSection2Label {
    font-size: 18px;
  }

  div.primePaymentFormInput {
    padding-left: 25px;
  }

  select.primePaymentFormInput {
    padding-left: 0px;
  }

  input.primePaymentForm {
    float: right;
  }

  .primePaymentFormSection2 {

  }

  .primePaymentFormSection2Radio {
    float: left;
  }

  .primeBillingForm {
  }

  .primePaymentFormInputContainer {
    padding-left: 22px;
    position: relative;
    height: 35px;
    width: 580px;
  }

  .primePaymentFormTextInput {
    float: left;
    width: 220px;
  }

  .primePaymentFormShortTextInput {
    float: left;
    width: 200px;
  }

  .primePaymentFormInputContainer .primePaymentFormInputSelect {
    float: left;
  }

  input.primePaymentFormInput {
    width: 200px;
  }

  .primePaymentFormCountrySelect select option {
    float: right;
    text-align: left;
    width: 175px;
  }

  div.primePaymentFormCountrySelect {
  }

  .primeFormTextInputError {
     background-color: #FFE4B5;
  }

  .primeClearBoth {
    clear: both;
    height: 1px;
  }

}

/*		Wide Mobile Layout    */
@media only screen and (min-width: 480px) and (max-width: 609px) {
.prime-page-container {
	width: 436px;
	padding: 5px 22px 0px;
}

#fullfooter{	width: 85%;}
#smallwidth{width: 276px; margin: 0 auto;}
h1.prime-message-title {
	font-size: 30px;
	line-height: 33px;
	padding-bottom: 10px;
}
h1.prime-message-title-signin {
	font-size: 52px;
	line-height: 50px;
	padding-bottom: 10px;
}
h1.prime-message-title-thankyou {
 font-size: 36px;
 line-height: 39px;
 margin-bottom: 10px;
}
h3.prime-message-thankyou {
	font-size:18px;
	line-height:22px;
}

.prime-benefit h2 {
	font-size: 26px;
	line-height: 26px;
	padding:10px 0 6px 0;
}

.prime-important-message h6 {
	font-size:13px;
	line-height:17px;
}

.prime-benefit p {
}

.prime-extra-info h3 {
	font-size: 16px;
	line-height: 20px;
}

.prime-button-thankyou {
	width:164px;
}

.prime-action-button {
	background-position: -35px -30px !important;
	width:164px;
	height: 28px;
}

.prime-cancel-button {
	background-position: -35px -120px !important;
	width:164px;
	height: 28px;
}

.prime-trio-small {
	background: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/PrimeBenefitsSignupSprite_RBN.jpg") no-repeat 0 0;
	width: 436px;
	height: 118px;
	display: block;
	background-position: -10px -93px;
	margin-bottom: 1em;
}

// Prime Payment Form Styles 

  .primePaymentForm {
    width: 420px;
    position: relative;
  }

  .primePaymentFormSection {
    width: 420px;
    float: none;
  }

  .primePaymentFormSectionHeader {
    font-size: 18px;
    float: left;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .primePaymentFormSectionHeader2 {
    font-size: 16px;
  }

  .primePaymentFormSectionHeader3 {
    font-size: 18px;
  }

  .primeCreditCardFormInputLabel {
    font-size: 13px;
    float: left;
    width: 120px;
  }

  .primePaymentFormSection2Label {
    font-size: 18px;
  }

  div.primePaymentFormInput {
    padding-left: 25px;
  }

  select.primePaymentFormInput {
    padding-left: 0px;
  }

  input.primePaymentForm {
    float: right;
  }

  .primePaymentFormSection2 {

  }

  .primePaymentFormSection2Radio {
    float: left;
  }

  .primeBillingForm {
  }

  .primePaymentFormInputContainer {
    padding-left: 22px;
    position: relative;
    height: 35px;
    width: 445px;
  }

  .primePaymentFormTextInput {
    float: left;
    width: 290px;
  }

  .primePaymentFormShortTextInput {
    float: left;
    width: 200px;
  }

  .primePaymentFormInputContainer .primePaymentFormInputSelect {
    float: left;
  }

  input.primePaymentFormInput {
    width: 220px;
  }

  .primePaymentFormCountrySelect select option {
    float: right;
    text-align: left;
    width: 175px;
  }

  div.primePaymentFormCountrySelect {
  }

  .primeFormTextInputError {
     background-color: #FFE4B5;
  }

  .primeClearBoth {
    clear: both;
    height: 1px;
  }

}

/*		Mobile Layout    */
@media only screen and (max-width: 479px) {
.prime-page-container {
	width: 276px;
	padding: 5px 22px 0px;
}

#smallwidth{margin: 0 auto;}
h1.prime-message-title {
	font-size: 34px;
	line-height: 40px;
	padding-bottom: 10px;
}
h1.prime-message-title-signin {
	font-size: 52px;
	line-height: 50px;
	padding-bottom: 10px;
}
h1.prime-message-title-thankyou {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3.prime-message-thankyou {
	font-size:18px;
	line-height:22px;
}

.prime-benefit h2 {
	font-size: 18px;
	line-height:12px;
	padding: 17px 0 6px 0;
}

.prime-important-message h6 {
	font-size:13px;
	line-height:17px;
}

.prime-benefit p {
}

.prime-extra-info h3 {
	font-size: 16px;
	line-height: 18px;
}

.prime-button-thankyou {
	width:125px;
}
.prime-action-button {
	background-position: -35 -60px !important;
	width:125px;
	height: 28px;
	left: 0px;
}

.prime-cancel-button {
	background-position: -35px -150px !important;
	width:125px;
	height: 28px;
	left: 0px;
}

.prime-trio-small {
	background: url("https://images-na.ssl-images-amazon.com/images/G/01/marketing/prime/mobile/PrimeBenefitsSignupSprite_RBN.jpg") no-repeat 0 0;
	width: 252px;
	overflow:hidden;
	height: 80px;
	display: block;
	background-position: -10px -8px;
	margin-bottom: 1em;
}
// Prime Payment Form Styles 

  .primePaymentForm {
    width: 270px;
    position: relative;
  }

  .primePaymentFormSection {
    width: 270px;
    float: none;
  }

  .primePaymentFormSectionHeader {
    font-size: 18px;
    float: left;
    width: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .primePaymentFormSectionHeader2 {
    font-size: 16px;
  }

  .primePaymentFormSectionHeader3 {
    font-size: 18px;
  }

  .primeCreditCardFormInputLabel {
    font-size: 13px;
    float: none;
    width: 120px;
  }

  .primePaymentFormSection2Label {
    font-size: 18px;
  }

  div.primePaymentFormInput {
    padding-left: 0px;
  }

  select.primePaymentFormInput {
    padding-left: 0px;
  }

  input.primePaymentForm {
    float: right;
  }

  .primePaymentFormSection2 {

  }

  .primePaymentFormSection2Radio {
    float: left;
  }

  .primeBillingForm {
    padding-top: 10px;
  }

  input.primePaymentFormInput {
    width: 240px;
  }
  
  .primePaymentFormInputContainer {
    padding-left: 0px;
    position: relative;
    width: 270px;
    padding-bottom:10px;
  }

  .primePaymentFormTextInput {
    float: none;
    width: 200px;
  }

  .primePaymentFormShortTextInput {
    float: none;
    width: 200px;
  }

  .primePaymentFormInputContainer .primePaymentFormInputSelect {
    float: none;
  }

   .primePaymentFormInputSelect {
    padding-left: 0px;
  }

  .primePaymentFormCountrySelect select option {
    float: right;
    text-align: left;
    width: 214px;
  }

  div.primePaymentFormCountrySelect {
    padding-left: 0px;
  }

  .primeFormTextInputError {
     background-color: #FFE4B5;
  }

  .primeClearBoth {
    clear: both;
    height: 1px;
  }

}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media  only screen and (-webkit-min-device-pixel-ratio: 2),  only screen and (min-device-pixel-ratio: 2) {
 .prime-page-container {

}
}

